* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

/*For Nav Bar*/
.nav-items {
  background-color: #1f2937;
  padding: 20px;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu > a {
  color: #e5e7eb;
  padding: 10px;
  text-decoration: none;
}

a:hover{
  background-color: black;
}

/*Heading that goes under navbar*/
.heading {
  padding: 50px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
}

.headingtext > h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: bolder;
}

.headingtext > p {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  padding: 10px;
  padding-left: 45px;
  padding-right: 45px;
  border: 0px;
  color: white;
  font-size: large;
  font-weight: bold;
  background-color: #3882f6;
  border-radius: 10px;
}

button:hover{
  background-color: rgb(0, 61, 130);
}

#headingimg {
  height: 300px;
}

.title{
  margin: 60px;
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

/*Main photo section after header*/
.main{
  margin-bottom: 80px;
}
.photos{
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-around;
}

.info1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info1 > img {
  height: 350px;
  border: 5px solid #3882f6;
  border-radius: 5px;
}

.info1 > p {
  padding-left: 55.585px;
  padding-right: 55.585px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 18px;
  color: black;
}

/*Random Quote section*/
.quote{
  background-color: #e5e7eb;
}

.randomquote{
  padding-top: 50px;
  padding-left: 400px;
  padding-right: 400px;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
}

.author{
  font-size: 27px;
  font-weight: 800;
  padding-top: 10px;
  text-align: right;
  padding-right: 430px;
  padding-bottom: 50px;
}

/*Sign up*/
.signup{
  margin: 130px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #3882f6;
  border-radius: 10px;
}

.content{
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

.boldtext{
  padding-left: 50px;
  color: white;
  font-size: 27px;
  font-weight: 800;
}

.desc{
  padding-left: 50px;

  color: white;
  font-size: 17px;
  font-weight: 200;
}

#mainsignup{
  border: 5px solid white;
}

.footer{
  background-color: #1f2937;
  padding: 35px;
  text-align: center;
  color: white;
}

.foot{
  font-size: 17px;
  font-weight: 100;
}